<a href="https://colab.research.google.com/github/helen-13/Analise-de-arquivo-CSV-e-Excel/blob/main/Entrevista_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# Importe das bibliotecas usadas para o tratamento dos dados.

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [8]:
#Construção da leitura dos dados.

In [9]:
df=pd.read_csv('/content/Entrevista.csv')

In [10]:
#cabeçalho do arquivo com primeiras linhas

In [11]:
df.head()

          Carimbo de data/hora  ...     Como cuidar impactou na carreira profissional?
0  2022/01/16 6:23:12 PM GMT-3  ...            Produtividade;Demissão;Saída antecipada
1  2022/01/16 6:25:39 PM GMT-3  ...  Produtividade;Saída antecipada;Ausências por m...
2  2022/01/16 6:26:59 PM GMT-3  ...  Produtividade;Ausências por motivo de doença d...
3  2022/01/16 6:28:38 PM GMT-3  ...                     Demissão;Demissão após licença

[4 rows x 8 columns]

In [12]:
#Dados estatisticos com as colunas que podemos obter percentagens

In [13]:
df.describe()

           Idade  Número de filhos
count   4.000000              4.00
mean   34.500000              1.25
std     3.696846              0.50
min    32.000000              1.00
25%    32.750000              1.00
50%    33.000000              1.00
75%    34.750000              1.25
max    40.000000              2.00

In [14]:
#Mediiana de idade e quantidade de filhos por amostragem

In [15]:
df.mean()

Idade               34.50
Número de filhos     1.25
dtype: float64

In [16]:
#Divisão das informações contidas em apenas uma coluna.

In [17]:
df['Como cuidar impactou na carreira profissional?'].str.split(';', expand=True)

               0  ...                    3
0  Produtividade  ...                 None
1  Produtividade  ...  Serviu de motivação
2  Produtividade  ...                 None
3       Demissão  ...                 None

[4 rows x 4 columns]

In [ ]:
#Transformação dos dados em dicionário e construção de separação por DataFrame

In [49]:
impactodic = { 'ocorrência':['demissão', 'produtividade','saída antecipada','ausência por motivo de doença', 'demmissão após licença', 'serviuu de motivação'],
           'idade_da_criança': [4, 4, 6, 10, 6, 12]    
}
impacto= pd.DataFrame(impactodic) 
print(impacto)

                      ocorrência  idade_da_criança
0                       demissão                 4
1                  produtividade                 4
2               saída antecipada                 6
3  ausência por motivo de doença                10
4         demmissão após licença                 6
5           serviuu de motivação                12